@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .clip::before {
    height: 100px;
    width: 100%;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 0);
  }

  .pricing-clip::before {
    height: 100px;
    width: 100%;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 0);
  }

  @media screen and (min-width: 1000px) and (max-width: 1080px) {
    .global-search {
      width: 400px !important;
    }
  }
}

::-webkit-scrollbar {
  display: none;
}

/* For Firefox */
body {
  scrollbar-width: 0;
}

/* For Firefox */
html {
  scrollbar-width: 0;
}
